#divdetail {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
li {
  float: left;
  padding-right: 10px;
}
li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.divWelcome {
  text-align: center;
}
