<app-logo></app-logo>
<app-menu></app-menu>
<p>
  Live Optics is free, lightweight, remote and agentless software that can be
  used to collect data about an IT environment. It streams workload data from
  your system (or your customer’s system) to an online analytics engine. It then
  measures, analyzes and blends workload characteristics. The Live Optics
  dashboard shows your results as a summary of individual and group server
  performance across all workloads. Click here to access the Live Optics
  brochure. For any new hires to the Live Optics team, you will find all the
  technical resources you need here. If you have any questions, please contact
  David Haskett
</p>
