<!-- The content below is only a placeholder and can be replaced. -->

<app-logo></app-logo>
<div class="divWelcome">
  <h2>
    <p>Welcome {{ this.qsparam }} !!!</p>
  </h2>
</div>
<app-menu></app-menu>

<div class="assets">
  <ul>
    <li>
      <a routerLink="./netapp" class="active"
        ><img alt="Megatron Logo" src="/Image/megatron.jpg" width="200px"
      /></a>
      <h4>Megatron</h4>
    </li>
    <li>
      <a routerLink="" class="active"
        ><img alt="Ramjet Logo" src="/Image/decepticon.png" />
      </a>
      <h4>Ramjet</h4>
    </li>
    <!--
      <li>
        <a routerLink="" class="active"
          ><img alt="Angular Logo" src="/Image/decepticon.png" />
        </a>
        <h4>Megatron</h4>
      </li>
    -->
  </ul>
</div>
