ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  width: 100%;
}
li {
  float: left;
  padding-right: 10px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.divWelcome {
  text-align: center;
}
p {
  margin: 0;
  display: flex;
}
#divWelcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 200px;
  margin: 0;
}
h4 {
  display: flex;
  justify-content: center;
}
